@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-naver: #03C75A;
  --color-naver-dark: #02B150;
  --color-naver-light: #E8F9EE;
  --color-text: #333333;
  --color-sidebar: #2B2B2B;
  --color-sidebar-dark: #222222;
}
